---
layout: skeleton
extra_html_headers: >
  <link rel="stylesheet" href="{{ site.baseurl }}/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/preserves.css">
---
<nav>
  <div class="left">
    <h1>
      <a href="{{ site.baseurl }}/">
        <span class="icon">
          <img src="{{ site.baseurl }}/logo-64x64.png">
        </span>
      </a>
    </h1>
  </div>
  <div class="middle">
    <ul>
      <li><a href="{{site.baseurl}}/preserves.html">Core</a>
      <li><a href="{{site.baseurl}}/preserves-schema.html">Schema</a>
      <li><a href="{{site.baseurl}}/preserves-path.html">Path</a>
    </ul>
  </div>
  <div class="right">
    <a href="https://gitlab.com/preserves/preserves">
      <span class="icon">
        <img src="{{ site.baseurl }}/gitlab-logo-500.svg" alt="Gitlab logo">
      </span>
    </a>
  </div>
</nav>
<main>
  <h1>{{ page.title }}</h1>
  {{ content }}
</main>
