<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% unless page.no_site_title %}{{ site.title }}: {% endunless %}{{ page.title }}</title>

  <link href="{{ site.baseurl }}/logo-64x64.png" rel="icon" />
  <link href="{{ site.baseurl }}/logo-256x256.png" rel="shortcut icon" />

  <meta name="author" content="Tony Garnock-Jones">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">{{
  page.extra_html_headers | liquify }}{{
  layout.extra_html_headers | liquify }}
</head>

<body>
  {{ content }}
</body>

</html>
